/*body background starts*/
body
{
  background-image: url("../images/2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*body background ends*/
/*navigation bar starts*/
.card-header
{
  position: sticky;
  background-color: blue;
}
.card-header a
{
  font-size: 150%;
  background-color: gray;
  border-bottom: solid #A9A9A9;
  color: white;
}
.card-header a:hover
{
  background-color: white;
  color: black;
  text-decoration: none;
  border-bottom: solid #D3D3D3;
}
.card-header ul
{
  margin-left: 70%;
  margin-top: -50px;
}
.card-header h1
{
    color: gold;
    font-weight: bold;
    font-family: Black Ops One ;
    margin-top: -45px;
    margin-left: 50px;
}
.card-header img
{
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin: 0;
}
/*navigation bar ends*/
/*pizza selection starts*/
.jumbotron p
{
  float: right;
  margin-top: -50px;
  font-family: Allerta Stencil;
}
.jumbotron h2
{
  text-align: center;
  font-family: Aclonica;
  color: 	#228B22;
}
.jumbotron .row .col-sm-2 img
{
  height: 100px;
  width: 110px;
  margin-left: 20px;
}
.jumbotron .row .col-sm-2
{
text-align: center;
font-weight: bold;
margin-left: 25px;
}
#row
{
  background-color: white;
}
.jumbotron .row .col-sm-2:hover
{
  color: green;
  cursor: pointer;
}
.jumbotron #rowhover1 .col-sm-2:hover
{
  color: white;
  cursor: pointer;
}
.jumbotron #rowhover .col-sm-2:hover
{
  color: white;
  cursor: pointer;
}
.jumbotron #rowhover1 .col-sm-2
{
  margin-left: 12%;
}
.jumbotron #rowhover .col-sm-2
{
  margin-left: 6%;
}
.btn
{
  margin-left: 42%;
}
#displayPizzaName
{
  margin-right: 40px;
}
#displayToppingName
{
  margin-right: 40px;
}
#displayCrustName
{
  margin-right: 40px;
}
#purchased
{
  margin-left: 400px;
  text-align: center;
}
#purchased h1
{
  margin-left: -400px;
  text-align: center;
}
/*pizza selection ends*/
/*about starts*/
#about
{
  text-align: center;
}
#about p
{
  float: left;
  margin-left: 0;
  text-align: left;
}

/*about ends*/
/*pay starts*/

.jumbotron #pay p
{
  display: none;
  float: left;
  text-align: center;
  margin-top: 1px;
  margin-left: 45%;
  font-family: Aclonica;
  font-size: 200%;
}
.jumbotron #pay h5
{
display: none;
margin-left: 40%;

}
.jumbotron .payIput
{
  margin: 0;
  margin-left: -190px;
  width: 250px;
  text-align: center;
  background-color: black;
  color: white;
}
/*pay ends*/
.contai
{
  background-image: url("../images/3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contai input
{
  background-color: transparent;
  text-align: center;
}
.contai textarea
{
  background-color: transparent;
}
.contai .btn-primary
{
  width: 150px;
}
::placeholder
{
  color: white;
  font-size: 25px;
}
#subm
{
  margin-left: 450px;
  width: 100px;
}
#myTot
{
  margin-right: 500px;
  font-family: Aclonica;
  font-size: 200%;
}
#heads
{
  margin-left: 450px;
}
.col-50 h2
{
  margin-left: 100px;
}
.btn-secondary
{
  margin-left: 100px;
}
/*about us*/
